<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-5 d-grid gap-1 col-6 mx-auto">
        <button class="btn btn-outline-primary btn-lg " type="button" routerLink="/baggage">Check in bag</button>
        <button class="btn btn-outline-secondary btn-lg mt-3" type="button">Generate report</button>
      </div>



</body>
</html>